h4 {
  font-size: 24px;
  margin-top: 5px;
}

body {
  font-family: 'Inconsolata', ;
  text-align: center;
  font-size: 18px;
}
form {
  padding: 50px;
}

.container-flex form {
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 10px;
}

.container-flex {
  align-items: center;
  display: flex;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
}

.table {
  text-align: left;
}
.output{
  text-align: left;
}
.transparent-input {
  background: transparent;
  border: 0px;
}

/* To remove space between text inputs */
.input-group-glue {
  width: 0;
  display: table-cell;
}

.input-group-glue + .form-control {
  border-left: none;
}

.submit-shorten-form .slug{
  width: 50%;
  float: right;
}

.submit-shorten-form .long_url{
  width: 150%;
  z-index: 10;
}
